<div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ path('property.show', {slug: propertys.slug, id: propertys.id}) }}">
          {{ propertys.title }}
        </a>
      </h5>
      <p class="card-text">{{ propertys.surface }} m² - {{ propertys.city }} ({{ propertys.postalCode }})</p>
      <div class="text-primary" style="font-size:2rem; font-weight: bold;">
        {{ propertys.formattedPrice }} €
      </div>
    </div>
  </div>
  